<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yt Video Downloader</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.min.css">
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div class="container">
        <h1>Youtube Video Downloader</h1>
        <div id="header">
            <input type="text" id="yt-url" placeholder="Enter Youtube Video/Playlist URL" required>
            <button id="dl-btn">Download</button><br>
            <span id="message">Enter any Youtube Video/Playlist URL</span>
        </div>
        <div id="content">
            <!-- What is the type? Video or a Playlist? -->
            <span id='type'></span>
            <div id="yt-videos">
                <table class="ui celled table">
                    <thead class="center aligned">
                        <tr>
                            <td>#</td>
                            <td>Video Name</td>
                            <td>Download Link</td>
                        </tr>
                    </thead>
                    <tbody id="yt-vid-content" class="center aligned">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>